body {
}

.contactContent {
    margin-left:1em;
    margin-right:1em;
    text-align:center;
}

.contactMeForm {
    text-align: center;
    font-size: 23pt;
    max-height: 100%
}

/* instagram link */
#instagramLink:link, #instagramLink:visited {
    color: ghostwhite;
    text-decoration: none;
    text-align: center;
    font-size: 23pt;
    margin-bottom:20em;
}

#instagramLink:hover {
    text-decoration: none;
    color: #515f54
}

/* form layout */
.formContainer {
    display: grid;
    grid-template-columns: 7em 15em;
    grid-template-rows: 2em 2em 2em 5em;
    position: relative;
    max-width: fit-content;
    max-height: 20em;
    background-color: #515f54;
    margin: auto;
    justify-items: center;
    border:2px solid black;
    border-radius:15%;
}

/* placement for label */
.formContainer label {
    grid-column-start: 1;
    margin:auto;
    text-align:left;
}

/* sizing/placement on input boxes */
.formContainer input {
    grid-column-start: 2;
    height: 2em;
    width: 17em;
    font-size: 15pt;   
    margin:auto;
    justify-self:left;
}

#fName {
    grid-row-start:1;
}

#lName {
    grid-row-start:2;
}

#email {
    grid-row-start:3
}

/* text box augments */
#message {
    grid-column-start: 2;
    grid-row-start:4;
    width: 17em;
    height:5em;
    resize: vertical;
    font-size: 15pt;
    margin-top:2em;
}

#submit {
    width: 8em;
    justify-content: left;
    margin-left: 4em;
}


/* styles for desktop devices */
@media only screen and (min-width: 992px) {
}

/* styles for tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .formContainer {
        display:flex;
        flex-direction:column;
    }
    .formContainer input {
        width: 14em;
        margin-left: 2em;
        margin-right: 2em;
    }
    #message {
        width: 14em;
        margin-left: 2em;
        margin-right: 2em;
    }
    #message {
        width: 14em;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 0;
    }
    #submit {
        margin-left: 5em;
        margin-right: 5em;
    }
}

/* styles for mobile devices */
@media only screen and (max-width: 767px) {
    .formContainer {
        display: flex;
        flex-direction: column;
    }

    .formContainer input {
        width: 14em;
        margin-left: 2em;
        margin-right: 2em;
    }

    #message {
        width: 14em;
        margin-left: 2em;
        margin-right: 2em;
    }

    #message {
        width: 14em;
        margin-left: 2em;
        margin-right: 2em;
        margin-top:0;
    }
    #submit {
        margin-left: 5em;
        margin-right: 5em;
    }
}



